<div id="center">
    Willkommen bei KryptoChat, deinem sicheren Chat Tool im Internet.
  <br>
  <a href="#" data-toggle="modal" data-target="#login-modal" style="color:cornflowerblue">Log dich ein</a> um zu starten, oder melde dich
  <a href="#" data-toggle="modal" data-target="#register-modal" style="color:cornflowerblue">hier</a> an, um unseren Service kostenlos zu nutzen.
<br><br><br><br>

  <div class="container" style="max-width: 75%">
    <h2>Unsere Features:</h2>
    <div class="list-group">
      <a href="#" class="list-group-item">
        <h2 class="list-group-item-heading" style="margin-left: 45px"><i class="fa fa-user-secret" aria-hidden="true"></i> <strong>Sichere Passwörter</strong></h2>
        <p class="list-group-item-text">Unser Service speichert zu keinem Zeitpunkt dein Passwort.</p>
      </a>
      <a href="#" class="list-group-item">
        <h2 class="list-group-item-heading" style="margin-left: 10px"><i class="fa fa-user-secret" aria-hidden="true"></i> <strong>Verschlüsselung</strong></h2>
        <p class="list-group-item-text">Wir verwenden sowohl symmetrische, als auch asymmetrische Verschlüsselungsverfahren.</p>
      </a>
      <a href="#" class="list-group-item">
        <h2 class="list-group-item-heading" style="margin-left: 10px"><i class="fa fa-user-secret" aria-hidden="true"></i> <strong>Authentifizierung</strong></h2>
        <p class="list-group-item-text">Unser Service verwendet eine Vielzahl von Machanismen, um sicher zu stellen, dass niemand in deinem Namen Nachrichten versenden kann.</p>
      </a>
    </div>
  </div>
</div>